.nav {
    list-style: none;
    display: flex;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.link {
    color: black;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 700;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;

    background: #ffffff;
    box-shadow: inset 5px 5px 10px #7FFFD4, inset -5px -5px 10px #ffffff;

}

.link:hover,
.link:focus {
    border: none;
    color: black;
    background: #7FFFD4;
    box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
}